@{
    ViewData["Title"] = "Gerenciar Alunos";
}

<div class="d-flex flex-row">
    <h1 class="display-4">Gerenciar Alunos</h1>
</div>
<div>
    <button type="button" class="btn btn-success">Adicionar Aluno</button>
    <button type="button" class="btn btn-primary">Editar Aluno</button>
    <button type="button" class="btn btn-danger">Remover Aluno</button>
</div>
<div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Matrícula</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Nicolas</td>
                <td>Rocha Lacerda</td>
                <td>123455</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Hugo</td>
                <td>Rosin</td>
                <td>123456</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>123457</td>
            </tr>
        </tbody>
    </table>
</div>
