@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h2 class="display-4">Bem vindo ao <strong>Escolapp</strong> <br /> seu painel de gerenciamento de rede de ensino mais completo!</h2>
    <img src="assets/escola.jpg"/>
</div>
