@{
    ViewData["Title"] = "Gerenciar Matérias";
}

<div class="d-flex flex-row">
    <h1 class="display-4">Gerenciar Matérias</h1>
</div>
    <div>
        <button type="button" class="btn btn-success">Adicionar Matéria</button>
        <button type="button" class="btn btn-primary">Editar Matéria</button>
        <button type="button" class="btn btn-danger">Remover Matéria</button>
    </div>
    <div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Matéria</th>
                    <th scope="col">Nota Mínima</th>
                    <th scope="col">Mestre</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Orientação a Objeto</td>
                    <td>65,0</td>
                    <td>Nicolas Rocha Lacerda</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Empreendedorismo</td>
                    <td>65,0</td>
                    <td>Hugo Rosin</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Cloud: Fundamentos</td>
                    <td>65,0</td>
                    <td>Vitor Pimentel</td>
                </tr>
            </tbody>
        </table>
</div>
